/* 

Search Div Parent Container:
<div className=search-div>
    ...
</div>
...

*/

.search-div{
    position: relative;
    display: inline-block;
    border-radius: 20px 20px 20px 20px;
    padding: 10px;

    /*DIFFERENCE*/
    background-color: #2d253f;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}
  

.search-div-is_hidden{
    position: relative;
    display: inline-block;
    border-radius: 20px 20px 20px 20px;
    padding: 10px;

    /*DIFFERENCE*/
    background-color: #2d253f;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}

.search-div-selected{
    position: relative;
    display: inline-block;
    border-radius: 20px 20px 20px 20px;
    padding: 10px;

    /*DIFFERENCE*/
    background-color: #483b65;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

.search-div-is_hidden-selected{
    position: relative;
    display: inline-block;
    border-radius: 20px 20px 20px 20px;
    padding: 10px;

    /*DIFFERENCE*/
    background-color: #483b65;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

/* 

Search Bar Container:
<div className=search-bar>
    <img>
    <div className=search-field>
        ...
    </div>
</div>

*/

.search-bar{
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.search-bar-selected{
    display: flex;
    justify-content: space-between;
    width: 1000px;
}


.search-bar-is_hidden-selected{
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.search-field{
    margin-bottom: 4px;
    height: 50px;
    font-size: 20px;
    border: 10px;
    width: 900px;
    margin-right: 20px;
    z-index: 1;
    color: white;
    border-radius: 10px;
    background-color: #483b65;
}

.search-field:focus{
    outline: none;
    background-color: #2d253f;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

/* 

Search Results Container:
<div className=searchResults>
    <div className=result>
        ...
    </div>
</div>

*/

.searchResults{
    border-radius: 10px 10px 10px 10px;
    overflow-y: scroll;
    max-height: 265px;
    background-color: #2d253f;
}

.searchResults-selected{
    border-radius: 10px 10px 10px 10px;
    overflow-y: scroll;
    max-height: 265px;
    background-color: #483b65;
}

.result{
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-bottom: solid 1px #483b65;
}

.result:hover{
    background-color: #483b65;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}

.result-selected{
    display: flex;
    border-bottom: solid 1px #2d253f;
    align-items: center;
    padding-left: 10px;
}

.result-selected:hover{
    background-color: #2d253f;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}

/* 

Search Tools Container:
- File Type
- File Date
...

*/

.search-tools-is_hidden{
    visibility: hidden;
    height: 0px;
    font-size: 0px;
}
.search-tools-is_hidden-selected{
    visibility: hidden;
    font-size: 0px;
    height: 0px;
}

.search-tools-selected{
    font-size: 0px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    padding-bottom: 30px;
}

.search-tools{
    font-size: 0px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    padding-bottom: 30px;
}


.file-specifier{
    display: inline-flex;
    align-items: center;
}

.file-specifier-select {
    border-radius: 10px 10px 10px 10px;
    height: 40px;
    width: 125px;
    display: inline-flex;
    align-items: center;
    border: 0px;
    color: white;
    background-color: #483b65;
    
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}

.file-specifier-select-selected {
    border-radius: 10px 0px 0px 10px;
    height: 40px;
    width: 105px;
    display: inline-flex;
    align-items: center;
    border: 0px;
    color: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.file-specifier-remove{
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    height: 40px;
    width: 18px;
    border: 0px;
    border-radius: 0px 10px 10px 0px;
}