.file-system-header{
    min-width: 800px;
    padding: 20px;
    border-radius: 5px;
    background-color: #4e315e;
}

.file-system{
    align-items: center; /* Vertically centers items */
    min-width: 700px;
    padding: 10px;
    background-color: #6d4a82;
    width: 100%;
}

.file-object {
    display: flex;
    vertical-align: middle;
    text-align: center;
    max-height: 80px;
    background-color: #6d4a82;
    border-bottom: solid 1px;
    align-items: center;
}



.file-download {
    display: flex;
    justify-content: space-between;
    border-radius: 5px; 
    background-color: #6d4a82;
    width: 100%;
    padding-right: 50px;
}

.file-download:hover{
    /* background-color: rgb(79, 79, 79);
    color: rgb(182, 182, 182) */
    background-color: #8d5fa8;
}

.directory-open {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #6d4a82;
    width: 100%;
    padding-right: 50px;
}

.directory-open:hover{
    background-color: #8d5fa8;
    color: white;
}

@keyframes loading-files {
    0%   {background-color: #6d4a82;}
    50%  {background-color: #8d5fa8;}
    100% {background-color: #6d4a82;}
}

.temp-file-object{
    display: flex;
    justify-content: space-between;
    border-radius: 5px; 
    animation-name: loading-files;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
}


.file-icon{
    padding-top: 7px;
    max-width:50px;
    max-height:40px;
    vertical-align: middle;
}


.file-delete:hover {
    background-color: rgb(79, 79, 79);
}